@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --primary-color: #eff6e0;
    --secondary-color: #598392;
    --accent-color1: #01161e;
    --accent-color2: #aec3b0;
    --accent-color3: #124559;

    --header-font: 'Angkor', serif;
    --paragraph-font: 'Crimson Text', serif;
}

body {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
/* header */
header{
    background-color: var(--accent-color3);
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

header h1{
    margin-left: 9rem;
    color: var(--primary-color);
    font-size: 2.5rem;
}

#mode{
    margin-left: auto;
    font-size: 2rem;
}

#logo{
    width: 25%;
    position: absolute;
    padding: 1rem;
}

/* navigation */

#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: black;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖️";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
    background-color: var(--accent-color3);
	color:var(--primary-color);
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--primary-color);
}
.navigation a:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-weight: 700;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

/* image */
#heroImage img{
    width: 100%;
    height: auto;
}

#resLink{
    background-color: var(--accent-color1);
    color:var(--primary-color);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

#resLink a{
    text-decoration: none;
    color: var(--accent-color2);
}

#resLink a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 700px;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* banner */
.banner {
    background:var(--secondary-color);
  }
  
  .banner__content {
    padding: 16px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .banner__text {
    flex-grow: 1;
    line-height: 1.4;
  }
  
  .banner__close {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .banner__text,
  .banner__close > span {
    color: var(--primary-color);
  }

/* main */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

#navInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.navi, .contact, #rentSummary, #weather {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.navi h3, .contact h3, #rentSummary h3, #weather h3 {
    font-family: var(--header-font);
    color: var(--accent-color3);
    text-align: center;
}

.navi p{
    text-align: center;
}

iframe{
    width: fit-content;
    
}

#rentSummary{
    text-align: center;
}

#rentSummary strong{
    text-decoration: underline ;
}

.contact{
    text-align: center;
}

#conButton .button {
    background-color: var(--accent-color2);
    color: var(--accent-color1);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}

#conButton .button:hover {
    background-color: var(--accent-color3);
    color: var(--primary-color);
}

.weather {
    display: flex;
    flex-direction: column;
}

.weather ul {
    list-style: none;
    padding: 0;
    font-family: var(--paragraph-font);
    font-size: smaller;
}

#cozumel-weather{
    display: flex;
    justify-content: space-evenly;
}

.forecast{
    width: 80%;
    background-color: var(--accent-color2);
    padding: 20px;
    margin-left: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.forecast h2{
    text-align: center;
    text-decoration: underline;
}

#foreData{
    display:flex;
    margin: 0.5rem;
    justify-content: space-between;
    color: var(--accent-color3);
}

#foreData div{
    margin: 0.25rem;
    background-color: var(--accent2-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/* footer */
footer{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    padding: 1rem;
    background-color: var(--accent-color3);
    color: var(--primary-color);
}

.social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

.social-links img {
    width: 2rem;
    padding: 0.25rem
}


/* reservations */
main#reserve {
    padding: 20px;
}

h2 {
    font-family: var(--header-font);
    color: var(--accent-color3);
}

.agreements {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: var(--accent-color3);
}

.agreements h2{
    text-align: center;
    text-decoration: underline;
}

.rentInfo {
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--accent-color3);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.rentInfo ul{
    list-style:circle;
    font-size: large;
}

table {
    width: auto;
    border-collapse: collapse;
    margin: 10px 0;
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    color: var(--accent-color1);
}

th, td {
    /* border: 1px solid var(--accent-color3); */
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--header-font);
}

thead th[colspan="6"] {
    background-color: var(--accent-color1);
    color: var(--primary-color);
    font-size: 1.5em;
    text-align: center;
}

thead th {
    background-color: var(--accent-color2);
    color: var(--accent-color1);
    font-family: var(--header-font);
}

tbody tr:nth-child(even) {
    background-color: var(--accent-color2);
}

tbody tr:nth-child(odd) {
    background-color: var(--primary-color);
}

#rentForm{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    color: var(--accent-color3);
}

form.f1 {
    display: flex;
    flex-direction: column;
}

fieldset.block {
    border: 1px solid var(--accent-color3);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--accent-color3);
}

legend {
    font-family: var(--header-font);
    color: var(--accent-color3);
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: var(--accent-color3);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 5px;
    border: 1px solid var(--accent-color2);
    border-radius: 3px;
    margin-top: 5px;
    color: var(--accent-color3);
}

input[type="submit"] {
    background-color: var(--accent-color3);
    color: var(--primary-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--header-font);
}

input[type="submit"]:hover {
    background-color: var(--accent-color3);
    color: var(--primary-color);
}


/* rentals */

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

#cards div {
    background-color: var(--secondary-color);
    border: 2px solid var(--accent-color3);
    border-radius: 10px;
    padding: 1rem;
    width: 200px;
    text-align: center;
}

#cards img {
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

#cards h2 {
    font-family: var(--header-font);
    color: var(--accent-color2);
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

#cards p {
    font-family: var(--paragraph-font);
    color: var(--accent-color1);
    font-size: 1rem;
    margin: 0.5rem 0;
}

#cards h4 {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    font-size: 1rem;
    margin: 0.5rem 0;
}

/* contact us */

h2 {
    font-family: var(--header-font);
    color: var(--accent-color3);
    text-align: center;
    margin-top: 20px;
}

.contactus {
    padding: 20px;
}

.contactus > div {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

form {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
}

fieldset {
    border: 2px solid var(--accent-color2);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    color: var(--accent-color1);
}

label {
    display: block;
    margin-bottom: 10px;
    color: var(--accent-color1);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--accent-color2);
    border-radius: 4px;
}

input[type="submit"] {
    background-color: var(--accent-color3);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--accent-color2);
}

#inPerson {
    text-align: center;
}

#inPerson p {
    font-size: 1.1em;
    color: var(--accent-color1);
}

iframe {
    margin-top: 20px;
    border: none;
    width: 100%;
    height: 450px;
}