@media screen and (min-width: 700px) {
    #logo{
        width: 7%;
    }

	header h1{
		margin-left: 15rem;
	}
    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
        font-size: 1.5rem;
		display: block;
		flex: 1 1 100%;
	}

	#rentSummary, #weather {
        width: 100%;
    }

	#navInfo{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
	}

	iframe{
		width: 100%;
    	height: auto;
	}


	/* reservations */
	main#reserve{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
	}

	/* contact us */
	.contactus {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .contactus > div {
        flex: 1;
        min-width: 45%;
        max-width: 600px;
        margin-bottom: 0;
    }
}