@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');



:root {
    /* change the values below to your colors from your palette */
    --primary-color: #FFFFFF ;
    --secondary-color: #284B63 ;
    --accent1-color: #353535;
    --accent2-color: #3C6E71;
    --accent3-color: #D9D9D9;
}

header{
    font-family: "Abril Fatface", serif;
    font-weight: 200;
    font-style: normal;
    font-stretch: expanded;
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 1fr 1fr; */
    padding: 1rem;
}

#mode{
    font-size: 2rem;
}

.logo{
    width: 20%;
    position: absolute;
    padding: 1rem;
}

h1{
    margin-left: 10rem;
}

#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: black;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

#hero-img{
    width: 100%
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
    background-color: var(--secondary-color);
	color: #FFF8F0;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #FFF8F0;
}
.navigation a:hover {
	background-color: var(--accent2-color);
	color: var(--accent3-color);
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}


#hero img{
    width: 100%;
    height: auto;
}

.button{
    background-color: var(--primary-color);
    color:var(--accent1-color);
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
}

#mode{
    margin-left: auto;
}

header, footer{
    background-color: #284B63;
    color: #FFFFFF;
}

.info-board{
    padding-bottom: 1rem;
}

.events {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 1rem
}


.events p{
    text-align: center;
    background-color: var(--accent3-color) ;
    color: #353535;
}


.weather {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 1rem;
}

.weather div{
    background-color: var(--accent3-color);
}

.weather p{
    text-align: center;
    color: #353535;
}


.member-spotlights{
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 1rem;
}

.member-spotlights section{
    background-color: var(--accent3-color);
}

.member-spotlights h3{
    text-align: center;
    color: #353535;
}


footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    padding: 1rem;
}

.contact-info{
    text-align: right;
}



/* Discover CSS */

#column1{
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 1rem
}

#column2{
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 1rem
}

.events {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem
}

.attractions{
    text-align: center;
    background-color: var(--accent3-color) ;
    color: #353535;
}

.attractions p{
    text-align: center;
    background-color: var(--accent3-color) ;
    color: #353535;
}

.calendar{
    text-align: center;
    background-color: var(--accent3-color) ;
    color: #353535;
}

.calendar p{
    text-align: center;
    background-color: var(--accent3-color) ;
    color: #353535;
}

.local-photos{
    text-align: center;
    background-color: var(--accent3-color) ;
    color: #353535;
}

/* General styles for the image container and images */
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-container img {
    width: 300px; /* Adjust the size as needed */
    height: auto;
    opacity: 0; /* Start with the images invisible */
    animation: fadeIn 2s forwards; /* Apply the fadeIn animation */
}

/* Keyframes for the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/*join page */
h1{
    text-align: center;
    text-decoration: underline;
}

.membership-info{
    background-color: var(--accent2-color);
    color: var(--primary-color);
    font-family: 'Alegreya';
    padding: 1rem;
}

.membership-level{
    background-color: var(--accent3-color);
    color: var(--accent1-color);
    padding: 0.25rem;
}

h2{
    color: var(--primary-color);
    font-family: 'Alegreya';
}

.form{
    background-color: #3C6E71;
}

.block{
    background-color: var(--accent3-color);
    color: var(--accent1-color);
    font-family: 'Alegreya';
    
}
