body {
	height: 1rem;
	font-family: Acme, Arial, sans-serif;
}

h1 {
	font-size: 1.5rem;
}

main {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
}

.favchap{
	background-color: #5B9279;
	color: #EAE6E5;
	padding: 1rem;
}

.reference{
	background-color: #8FCB9B;
	text-align: center;
}

input,
button {
	padding: 0.5rem;
}

button {
	margin: 0.5rem;
}

.delete {
	width: fit-content;
}

.input {
	display: flex;
	gap: 1rem;
}

.list {
	padding: 0.5rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer{
	text-align: center;
}

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	body{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
	}
	main {
		width: 320px;
	}
}