body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fefae0;
    color: #344e41;
    grid-template-columns: 1fr;
}


header{
    background-color: #fefae0;
    color:#283618;
    width: 100%;
    grid-template-columns: 150px auto;
}


img{
    margin: left;
    padding-top: 30px;
    padding-left: 30px;
}

nav{
    background-color:#dda15e;
    position:center;
    display: flex;
    flex-direction: column;
    color: #FFF8F0;
    padding-top: 10px;
}

nav a{
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background-color:burlywood;    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    color:beige
}

main{
    text-align: center;
    background-color: #fefae0;
    padding: 70px;
}

h2{
    text-decoration: underline;
    color:#283618
}

section h3{
    display: grid;
    grid-template-columns: 1fr;
}

section{
 padding: 60px;
 background-color: #a3b18a;
}

.card2{
    background-color: #a3b18a;

}

div{
    background-color:#faedcd;

}

.activities{
    text-align: left;
    background-color:#faedcd;
    padding: 50px;
}


footer{
    text-align: center;
    background-color:#fefae0;
    color:#bc6c25;
    margin-top: 100px;
    width: 100%;
}


#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #dda15e;
	color: #FFF8F0;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #FFF8F0;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}


.stuff {
	margin: 0.5m;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;

}

iframe{
    width: 50%;
    height: 50%;
    justify-content: center;
}