body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fefae0;
    color: #344e41;
    /* grid-template-columns: 1fr; */
}


header{
    background-color: #fefae0;
    color:#283618;
    width: 100%;
    display: grid;
}


img{
    padding-top: 30px;
    padding-left: 30px;
}

h1{
    text-align: center;
}

nav{
    background-color:#dda15e;
    display: flex;
    color: #FFF8F0;
    /* padding-top: 10px; */
}

/* nav a{
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background-color:burlywood; 
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    color:beige
} */

main{
    text-align: center;
    background-color: #fefae0;
    /* padding: 70px; */
}

h2{
    text-decoration: underline;
    color:#283618
}

section h3{
    display: grid;
    grid-template-columns: 1fr;
}

section{
 /* padding: 60px; */
 background-color: #a3b18a;
}

.card2{
    background-color: #a3b18a;

}

div{
    background-color:#faedcd;

}

.activities{
    text-align: left;
    background-color:#faedcd;
    /* padding: 50px; */
}


footer{
    text-align: center;
    background-color:#fefae0;
    color:#bc6c25;
    margin-top: 100px;
    width: 100%;
}

#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: black;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #FFF8F0;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #FFF8F0;
}
.navigation a:hover {
	background-color: burlywood;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}


iframe{
    width: 50%;
    height: 50%;
    justify-content: center;
}